
body {
   
}

#banner {
    width: 100%
}

.principal {
    background: #cccccc;
    padding:30px;
}

.titulo-principal{
    padding-left:20px;    
}

p {
    text-align: center
}

#missao {
    font-size: 20px
}

em strong {
    color: #FF0000
}

.beneficios {
    background: #FFFFFF;
    padding:20px;
}

.itens {
    font-style: italic;
}

.titulo-centralizado {
    text-align: center;
}

ul {
    display:inline-block;
    vertical-align:top;
    width:20%;
    margin-right:15%;
}

.imagembeneficios {
    width:50%;
}